factory-additions-only/automation-packs/n8n/workflows/pnl-daily-report.json
{
  "name": "pnl-daily-report",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "cronExpression", "expression": "0 8 * * *" }] }
      },
      "id": "schedule",
      "name": "Daily 8am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "={{$env.COCKPIT_URL}}/api/sites",
        "method": "GET"
      },
      "id": "fetch-sites",
      "name": "Fetch sites",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "fieldToSplitOut": "sites"
      },
      "id": "split-sites",
      "name": "Split per site",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [680, 300]
    },
    {
      "parameters": {
        "url": "={{$env.COCKPIT_URL}}/api/pnl?site_id={{$json.site_id}}&period=current_month",
        "method": "GET"
      },
      "id": "fetch-pnl",
      "name": "Fetch P&L",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "channel": "#daily-pnl",
        "text": "📊 P&L {{$json.site_id}} : {{$json.revenue_eur}}€ rev / {{$json.direct_cost_eur}}€ cost"
      },
      "id": "slack-summary",
      "name": "Slack daily",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Daily 8am": { "main": [[{ "node": "Fetch sites", "type": "main", "index": 0 }]] },
    "Fetch sites": { "main": [[{ "node": "Split per site", "type": "main", "index": 0 }]] },
    "Split per site": { "main": [[{ "node": "Fetch P&L", "type": "main", "index": 0 }]] },
    "Fetch P&L": { "main": [[{ "node": "Slack daily", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "finance" }]
}
