automation-packs/n8n/workflows/incident-auto-degrade.json
{
  "name": "incident-auto-degrade",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "incident",
        "responseMode": "onReceived"
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.severity}}",
              "operation": "equals",
              "value2": "P0"
            }
          ]
        }
      },
      "id": "is-critical",
      "name": "Is P0/P1?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "={{$env.COCKPIT_URL}}/api/status",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "method": "PATCH",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "site_id", "value": "={{$json.site_id}}" },
            { "name": "mode", "value": "degraded" },
            { "name": "reason", "value": "auto: incident {{$json.source}}" }
          ]
        }
      },
      "id": "set-degraded",
      "name": "Set degraded mode",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 200]
    },
    {
      "parameters": {
        "url": "={{$env.COCKPIT_URL}}/api/incidents",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "site_id", "value": "={{$json.site_id}}" },
            { "name": "severity", "value": "={{$json.severity}}" },
            { "name": "title", "value": "={{$json.message}}" },
            { "name": "detected_by", "value": "n8n-autopilot" }
          ]
        }
      },
      "id": "create-incident",
      "name": "Create incident",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 200]
    },
    {
      "parameters": {
        "channel": "#alerts",
        "text": "🚨 Incident {{$json.severity}} on {{$json.site_id}}: {{$json.message}}"
      },
      "id": "slack-alert",
      "name": "Slack alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [1120, 200]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Is P0/P1?", "type": "main", "index": 0 }]]
    },
    "Is P0/P1?": {
      "main": [
        [{ "node": "Set degraded mode", "type": "main", "index": 0 }],
        []
      ]
    },
    "Set degraded mode": {
      "main": [[{ "node": "Create incident", "type": "main", "index": 0 }]]
    },
    "Create incident": {
      "main": [[{ "node": "Slack alert", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "ops-autopilot" }, { "name": "p0-p1" }]
}
